<div class="row">
  
  <% users.each do |user| %>
  
    <aside class="col-xs-4">
      <div class="follow-profile-left">
        <div class="icon text-right">
          <img src="
          <%= gravatar_url(user, size: 80) %>
          " alt="" class="img-circle">
        </div>
      </div>
    </aside>
    
    <div class="col-xs-8">
      <div class="follow-profile-right">
        <div class="follow-name">
          
          <h4><%= user.name %></h4>
          <%= link_to 'go profile', user_path(user), class: 'btn btn-info' %>
        
        </div>
      </div>
    </div>
  
  <% end %>
  
</div>

  
  
  
  
<%= paginate users %>