<% content_for :cover do %>

  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>WELCOME TO the FOOD DIARY</h1>
        
        <% unless logged_in? %>
          <%= link_to 'START', signup_path, class: 'btn btn-success btn-lg' %>
        <% end %>
        
      </div>
    </div>
  </div>
  
<% end %>


<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the Food diary</h1>
  </div>
</div>